<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha384-DYrp2zq2MpwpsUD/zg8quiwNIBprEgPFt6ThfU0sQW3OkhWAdrZg6VTMwfbQ7315" crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>BEATZ Dashboard</h1>

    <h4>Welcome back {{ user }} </h4>
    <a class="button button-primary" href="/landing"> Go to my BEATZ</a>
    <hr>
    
    <a class="button" href="/users/logout">LOGOUT</a>
  </body>
</html>