body {
  text-align: center;
  background-color: #202020;
}

#root {
  background-color: #202020;
}

#drum-machine {
  padding: 15px;
  background-color: #0300af;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
}

#display {
  background-color: #00054e;
  color: aqua;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 15px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  margin-top: 30px;
  border: 1px solid #000;
}

#display h1 {
  margin: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#drum-pads-group {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: space-around;
}

#drum-pad {
  display: block;
  -webkit-box-flex: 1;
  flex: 1 1 calc(33.3333% - 0.5rem);
  width: 33.3333%;
  margin: 0.25rem;
  background-color: #00054e;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  border: 1px solid #000;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  color: aqua;
}
#drum-pad:hover {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12),
    0 1px 2px rgba(255, 255, 255, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12),
    0 1px 2px rgba(255, 255, 255, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12),
    0 1px 2px rgba(255, 255, 255, 0.24);
}

#drum-pad.isActive,
#drum-pad:active {
  background-color: #35cac5;
}

#drum-footer {
  text-align: center;
  margin-top: 15px;
  color: aqua;
}

@media (min-width: 576px) {
  .drum {
    max-width: 385px;
  }
}
